$mainfont: sans-serif;
$colors: (
  form: #fff
);

@function color($color-name) {
  @return map-get($map: $colors, $key: $color-name);
}
body,
html {
  height: 100%;
}

body,
h2,
h3,
p {
  // to get rid of the margin that is added by the browser default
  margin: 0;
}

h2 {
  font-weight: 600;
}
h3 {
  font-weight: 100;
  margin-bottom: 20px;
}

body {
  font-family: $mainfont;
}

form {
  background-color: color(form);
  padding: 15px;
  box-shadow: 0 0 5px 0px #888;
  width: 350px;
}

#saveForLater.active {
  background: #ff710c;
}

#progressBar > div {
  width: 67%;
}
